<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="Debug" xsi:type="File" archiveAboveSize="104857600" keepFileOpen="true" openFileCacheTimeout="10"
            fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Debug.log"
            layout="${date:HH\:mm\:ss,fff}>>>${event-properties:item=Action} ${message} ${exception:message} ${exception:stacktrace}" />
    <target name="Warn" xsi:type="File" archiveAboveSize="104857600" keepFileOpen="true" openFileCacheTimeout="10"
            fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Rule.log"
            layout="${date:HH\:mm\:ss,fff}>>>${event-properties:item=Action} ${message} ${exception:message} ${exception:stacktrace}" />
    <target name="Info" xsi:type="File" archiveAboveSize="104857600" enableArchiveFileCompression="true"  keepFileOpen="true" openFileCacheTimeout="10"
            fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Info.log"
            layout="${date:HH\:mm\:ss,fff}>>>${event-properties:item=Action} ${message} ${exception:message} ${exception:stacktrace}" />
    <target name="Error" xsi:type="File" archiveAboveSize="104857600" keepFileOpen="true" openFileCacheTimeout="10"
            fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Error.log"
            layout="${date:HH\:mm\:ss,fff}>>>${event-properties:item=Action} ${message} ${exception:message} ${exception:stacktrace}" />
    <target name="Trace" xsi:type="File" archiveAboveSize="104857600" keepFileOpen="true" openFileCacheTimeout="10"
             fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Trace.log"
             layout="${date:HH\:mm\:ss,fff}>>>${event-properties:item=Action} ${message} ${exception:message} ${exception:stacktrace}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxLevel="Debug" writeTo="Debug" />
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="Info" />
    <logger name="*" minlevel="Warn" maxLevel="Warn" writeTo="Warn" />
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="Error" />
    <logger name="*" minlevel="Trace" maxLevel="Trace" writeTo="Trace" />
    
  </rules>
</nlog>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target name="Debug" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Debugkk.log"
              layout="${longdate} ${level:uppercase=true} ${event-properties:item=Action} ${message} ${exception:stacktrace}" />
    </target>
    <target name="Warn" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Rule.log"
              layout="${longdate} ${level:uppercase=true} ${event-properties:item=Action} ${message} ${exception:stacktrace}" />
    </target>
    <target name="Info" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Info.log"
              layout="${longdate} ${level:uppercase=true} ${event-properties:item=Action} ${message} ${exception:stacktrace}" />
    </target>
    <target name="Error" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="${basedir}/Logs/${date:format=yyyyMM}/${date:format=MMdd}/Error.log"
              layout="${longdate} ${level:uppercase=true} ${event-properties:item=Action} ${message} ${exception:stacktrace}" />
    </target>
  </targets>
  <rules>
    <rules>
      <logger name="*" minlevel="Error" writeTo="Error" />
      <logger name="*" minlevel="Warn" writeTo="Warn" />
      <logger name="*" minlevel="Info" writeTo="Info" />
      <logger name="*" minlevel="Debug" writeTo="Debug" />
    </rules>
  </rules>
</nlog>-->
